<!--we have to define some configuration tags which spring understands-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="alien1" class="org.example.Alien" autowire="byType">

    <property name="age" value="21"/>
<!--    <property name="com" ref="com">  &lt;!&ndash;Here we are creating a wire but we want the spring to do this automatically if the name and ref are same&ndash;&gt;-->
<!--    </property>-->
</bean>

<!--    <bean id="com1" class="org.example.Laptop">-->
<!--    </bean>-->
<!--    <bean id="com2" class="org.example.Desktop">-->
<!--    </bean>-->
<!--    To avoid this error we have to make one of the bean as primary-->
<!--    Primary works only if we have a confusion, if we specify explicity then spring will go for that particular bean-->
    <bean id="com1" class="org.example.Laptop" primary="true">
    </bean>
    <bean id="com2" class="org.example.Desktop">
    </bean>

</beans>