<!--we have to define some configuration tags which spring understands-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="alien1" class="org.example.Alien" autowire="byType">

    <property name="age" value="21"/>
    <property name="com">
        <bean id="com1" class="org.example.Laptop" primary="true">
        </bean>
<!--        This bean is inner bean-->
    </property>
<!--    <property name="com" ref="com">  &lt;!&ndash;Here we are creating a wire but we want the spring to do this automatically if the name and ref are same&ndash;&gt;-->
<!--    </property>-->
</bean>

<!--    <bean id="com1" class="org.example.Laptop">-->
<!--    </bean>-->
<!--    <bean id="com2" class="org.example.Desktop">-->
<!--    </bean>-->
<!--    To avoid this error we have to make one of the bean as primary-->
<!--    Primary works only if we have a confusion, if we specify explicity then spring will go for that particular bean-->
<!--    <bean id="com1" class="org.example.Laptop" primary="true">-->
<!--    </bean>-->
<!--    If we want this bean to be used only for some specific beans then we have to use inner beans-->

<!--    <bean id="com2" class="org.example.Desktop" lazy-init="true">-->
<!--&lt;!&ndash;        Here this bean will be used only when we want to use it&ndash;&gt;-->
<!--    </bean>-->

</beans>