<!--we have to define some configuration tags which spring understands-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="alien1" class="org.example.Alien">

</bean>
<!--    <bean id="alien2" class="org.example.Alien">-->

<!--    </bean>-->
<!--    If we mention 2 beans with 2 different ids it will create 2 different objects for us-->
    <bean id="lap" class="org.example.Laptop">

    </bean>

</beans>